---
import Layout from '../layouts/MainLayout.astro';
import Header from '../components/Header.astro';
import Home from '../components/Home.astro';
---

<Layout title="Welcome to Snieakers Store">
	<Header />
	<main>
		<Home />
	</main>
</Layout>
