---

---

<header class="header" id="header">
    <nav class="nav container">
        <a href="#" class="nav__logo">Sneakers</a>

        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li>
                    <a href="#" class="nav__link">Home</a>
                </li>
                <li>
                    <a href="#" class="nav__link">About Us</a>
                </li>
                <li>
                    <a href="#" class="nav__link">News</a>
                </li>
                <li>
                    <a href="#" class="nav__link">Collection</a>
                </li>
                <li>
                    <a href="#" class="nav__link">Contact</a>
                </li>
            </ul>
            <!-- close button -->
            <div class="nav__close" id="nav-close">
                <i class="ri-close-large-line"></i>
            </div>

            <div class="nav__social">
                <a href="https://facebook.com" class="nav__social-link" target="_blank">
                    <i class="ri-facebook-circle-line"></i>
                </a>

                <a href="https://instagram.com" class="nav__social-link" target="_blank">
                    <i class="ri-instagram-line"></i>
                </a>

                <a href="https://twitter.com" class="nav__social-link" target="_blank">
                    <i class="ri-twitter-line"></i>
                </a>
            </div>
        </div>
        <div class="nav__toggle" id="nav-toggle">
            <i class="ri-apps-2-line"></i>
        </div>
    </nav>
</header>