---
// import css
import "../styles/styles.css";
import "../styles/swiper-bundle.min.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

        <!--=============== FAVICON ===============-->
      <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">

      <!--=============== REMIXICONS ===============-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css">

		<title>Responsive Snieakers Store</title>
	</head>
	<body>

		<slot />

        <!--=============== SWIPER JS ===============-->
        <script is:inline src="./js/swiper-bundle.min.js"></script>
        <!--=============== MAIN JS ===============-->
        <script src="../scripts/main.js"></script>
	</body>
</html>